<div class="container">
  <div class="alert alert-info">
      <h2>Welcome to KRYPTOS Database Adapter</h2>
      <p>This is an administration tool to configure your Kryptos Mobile. You can review and configure the database connection details of your ERP system. Also you can configure the authentication mechanism for your Kryptos Mobile.</p>
      <p>All this can be done in this tool and the changes take effect immediately without the need to restart your server!!</p>
  </div>
</div>
