<div class="container">
  <div class="row">
    <div class="col-xs-12">
       <h3>Tenant: &nbsp;{{tenant.name}}</h3>
    </div>
  </div>
  <ul class="nav nav-tabs" id="myTab">
	  <li class="active"><a data-target="#general" data-toggle="tab">General</a></li>
	  <li><a data-target="#application" data-toggle="tab">Application</a></li>
	  <li><a data-target="#database" data-toggle="tab">Database</a></li>
	  <li><a data-target="#authentication" data-toggle="tab">Authentication</a></li>
	</ul>
  			<div class="tab-content">
          <div class="alert" ng-class="alertClass" ng-show="errorMessage" style="margin:15px;">{{errorMessage}}</div>
  			  <div class="tab-pane active" id="general">
            <div class="alert" ng-class="alertClass" ng-show=configMessage>{{configMessage}}</div>
            <div class="list-group-item" style="border:none;" ng-show="!editMode">
               <a href="" ng-click="editMode=!editMode">
                 <span class="glyphicon glyphicon-pencil"></span>&nbsp;Edit
               </a>
            </div>
            <div class="panel panel-default" style="margin:15px;" >
              <div class="list-group-item clearfix">
                  <div class="col-xs-4 col-md-3">App Name: </div>
                  <div class="col-xs-8 col-md-9">
                    <input type="text" class="form-control" ng-model="productConfig.appName" ng-disabled="!editMode" />
                  </div>
              </div>
              <div class="list-group-item clearfix">
                  <div class="col-xs-4 col-md-3">Product Name: </div>
                  <div class="col-xs-8 col-md-9">
                    <input type="text" class="form-control" ng-model="productConfig.configName" ng-disabled="!editMode" />
                  </div>
              </div>
              <div class="list-group-item clearfix">
                  <div class="col-xs-4 col-md-3">License Key: </div>
                  <div class="col-xs-8 col-md-9">
                    <input type="text" class="form-control" ng-model="productConfig.licenseKey" ng-disabled="!editMode" />
                  </div>
              </div>
              <div class="list-group-item clearfix">
                  <div class="col-xs-4 col-md-3">Active: </div>
                  <div class="col-xs-8 col-md-9">
                    <input type="text" class="form-control" ng-model="productConfig.active" ng-disabled="!editMode" />
                  </div>
              </div>
              <div class="list-group-item clearfix">
                  <div class="col-xs-4 col-md-3">License Valid: </div>
                  <div class="col-xs-8 col-md-9">
                    <input type="text" class="form-control" ng-model="productConfig.licenseValid" ng-disabled="true" />
                  </div>
              </div>
              <div class="list-group-item clearfix">
        				<label class="col-xs-4 col-md-3">Cache Source</label>
        					<div class="">
        						<div class="radio-inline">
        							<label>
        								<input type="radio" name="cacheSource" value="MEM" ng-model="productConfig.cacheSource" ng-disabled="!editMode">
        								Memory
        							</label>
        						</div>
        						<div class="radio-inline">
        							<label>
        								<input type="radio" name="cacheSource" value="DB" ng-model="productConfig.cacheSource" ng-disabled="!editMode">
        								Database
        							</label>
        						</div>
        					</div>
              </div>
            </div>
            <div class="list-group-item" style="border:none;text-align:center;" ng-show="editMode">
               <a href="" ng-click="saveConfig()" class="btn btn-primary">
                 <span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;Save
               </a>
               &nbsp;&nbsp;&nbsp;&nbsp;
               <a href="" ng-click="cancelConfig()" class="btn btn-danger">
                 <span class="glyphicon glyphicon-remove"></span>&nbsp;Cancel
               </a>
            </div>
          </div>
  			  <div class="tab-pane" id="application">
            <div class="panel panel-default" style="margin:15px">
              <div class="list-group-item clearfix">
                <div class="btn btn-warning" ng-click="clearTenantCache()">Clear Cache</div>
              </div>
            </div>
          </div>
  			  <div class="tab-pane" id="database">
            <div class="alert" ng-class="alertClass" ng-show=dbMessage>{{dbMessage}}</div>
            <div class="list-group-item" style="border:none;" ng-show="!editMode">
               <a href="" ng-click="editMode=!editMode">
                 <span class="glyphicon glyphicon-pencil"></span>&nbsp;Edit
               </a>
               &nbsp;&nbsp;&nbsp;&nbsp;
               <a href="" ng-click="testDbConnection()">
                 <span class="glyphicon glyphicon-tasks"></span>&nbsp;Test Connection
               </a>
            </div>
              <div class="panel panel-default" style="margin:15px;">
                <div class="list-group-item clearfix">
                    <div class="col-xs-5 col-md-3">Driver: </div>
                    <div class="col-xs-7 col-md-9">
                      <input type="text" class="form-control" ng-model="productConfig.dataSourceConfig.driver" ng-disabled="!editMode" />
                    </div>
                </div>
                <div class="list-group-item clearfix">
                    <div class="col-xs-5 col-md-3">Connect String: </div>
                    <div class="col-xs-7 col-md-9">
                      <input type="text" class="form-control" ng-model="productConfig.dataSourceConfig.connectString" ng-disabled="!editMode" />
                    </div>
                </div>
                <div class="list-group-item clearfix">
                    <div class="col-xs-5 col-md-3">Username: </div>
                    <div class="col-xs-7 col-md-9">
                      <input type="text" class="form-control" ng-model="productConfig.dataSourceConfig.username" ng-disabled="!editMode" />
                    </div>
                </div>
                <div class="list-group-item clearfix">
                    <div class="col-xs-5 col-md-3">Password: </div>
                    <div class="col-xs-7 col-md-9">
                      <input type="password" class="form-control" ng-model="productConfig.dataSourceConfig.password" ng-disabled="!editMode" />
                    </div>
                </div>
                <div class="list-group-item clearfix">
                    <div class="col-xs-5 col-md-3">Pool Maximum: </div>
                    <div class="col-xs-7 col-md-9">
                      <input type="text" class="form-control" ng-model="productConfig.dataSourceConfig.poolMax" ng-disabled="!editMode" />
                    </div>
                </div>
                <div class="list-group-item clearfix">
                    <div class="col-xs-5 col-md-3">Pool Minimum: </div>
                    <div class="col-xs-7 col-md-9">
                      <input type="text" class="form-control" ng-model="productConfig.dataSourceConfig.poolMin" ng-disabled="!editMode" />
                    </div>
                </div>
                <div class="list-group-item clearfix">
                    <div class="col-xs-5 col-md-3">Pool Increment: </div>
                    <div class="col-xs-7 col-md-9">
                      <input type="text" class="form-control" ng-model="productConfig.dataSourceConfig.poolIncrement" ng-disabled="!editMode" />
                    </div>
                </div>
                <div class="list-group-item clearfix">
                    <div class="col-xs-5 col-md-3">Pool Timeout: </div>
                    <div class="col-xs-7 col-md-9">
                      <input type="text" class="form-control" ng-model="productConfig.dataSourceConfig.poolTimeout" ng-disabled="!editMode" />
                    </div>
                </div>
                <div class="list-group-item clearfix">
                    <div class="col-xs-5 col-md-3">Pool Ping interval: </div>
                    <div class="col-xs-7 col-md-9">
                      <input type="text" class="form-control" ng-model="productConfig.dataSourceConfig.poolPingInterval" ng-disabled="!editMode" />
                    </div>
                </div>
                <div class="list-group-item clearfix">
                    <div class="col-xs-5 col-md-3">Queue Requests: </div>
                    <div class="col-xs-7 col-md-9">
                      <input type="text" class="form-control" ng-model="productConfig.dataSourceConfig.queueRequests" ng-disabled="!editMode" />
                    </div>
                </div>
                <div class="list-group-item clearfix">
                    <div class="col-xs-5 col-md-3">Queue Timeout: </div>
                    <div class="col-xs-7 col-md-9">
                      <input type="text" class="form-control" ng-model="productConfig.dataSourceConfig.queueTimeout" ng-disabled="!editMode" />
                    </div>
                </div>
                <div class="list-group-item clearfix">
                    <div class="col-xs-5 col-md-3">Test SQL: </div>
                    <div class="col-xs-7 col-md-9">
                      <input type="text" class="form-control" ng-model="productConfig.dataSourceConfig.testSQL" ng-disabled="!editMode" />
                    </div>
                </div>
              </div>
              <div class="list-group-item" style="border:none;text-align:center;" ng-show="editMode">
                 <a href="" ng-click="saveDBInfo()" class="btn btn-primary">
                   <span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;Save
                 </a>
                 &nbsp;&nbsp;&nbsp;&nbsp;
                 <a href="" ng-click="cancelDB()" class="btn btn-danger">
                   <span class="glyphicon glyphicon-remove"></span>&nbsp;Cancel
                 </a>
              </div>
          </div>
  			  <div class="tab-pane" id="authentication">
            <div class="alert" ng-class="alertClass" ng-show=authMessage>{{authMessage}}</div>
            <div class="list-group-item" style="border:none;" ng-show="!editMode">
               <a href="" ng-click="editMode=!editMode">
                 <span class="glyphicon glyphicon-pencil"></span>&nbsp;Edit
               </a>
               &nbsp;&nbsp;&nbsp;&nbsp;
               <a href="" ng-click="testauthconnection()">
                 <span class="glyphicon glyphicon-tasks"></span>&nbsp;Test Connection
               </a>
            </div>
            <div class="panel panel-default" style="margin:15px;">
              <div class="list-group-item clearfix">
                  <div class="col-xs-5 col-md-3">Authentication Mode: </div>
                  <div class="col-xs-7 col-md-9">
                    <select ng-model="productConfig.authType" >
                      <option ng-repeat="aType in authTypes" value="{{aType}}">{{aType}}</option>
                    </select>
                  </div>
              </div>
              <div id="casSection" ng-show="productConfig.authType == 'CAS'">
                <div class="list-group-item clearfix">
                    <div class="col-xs-5 col-md-3">cas.root.context: </div>
                    <div class="col-xs-7 col-md-9">
                      <input type="text" class="form-control" ng-model="productConfig.authConfig.casRootContext" ng-disabled="!editMode" />
                    </div>
                </div>
                <div class="list-group-item clearfix">
                    <div class="col-xs-5 col-md-3">application.server.host: </div>
                    <div class="col-xs-7 col-md-9">
                      <input type="text" class="form-control" ng-model="productConfig.authConfig.casAppServerHost" ng-disabled="!editMode" />
                    </div>
                </div>
                <div class="list-group-item clearfix">
                    <div class="col-xs-5 col-md-3">application.context: </div>
                    <div class="col-xs-7 col-md-9">
                      <input type="text" class="form-control" ng-model="productConfig.authConfig.casAppContext" ng-disabled="!editMode" />
                    </div>
                </div>
                <div class="list-group-item clearfix">
                    <div class="col-xs-5 col-md-3">cas.role.xpath: </div>
                    <div class="col-xs-7 col-md-9">
                      <input type="text" class="form-control" ng-model="productConfig.authConfig.casRoleXpath" ng-disabled="!editMode" />
                    </div>
                </div>
                <div class="list-group-item clearfix">
                    <div class="col-xs-5 col-md-3">Role Extract Group: </div>
                    <div class="col-xs-7 col-md-9">
                      <input type="text" class="form-control" ng-model="productConfig.authConfig.casRoleExtractGroup" ng-disabled="!editMode" />
                    </div>
                </div>
                <div class="list-group-item clearfix">
                    <div class="col-xs-5 col-md-3">Role Extract String: </div>
                    <div class="col-xs-7 col-md-9">
                      <input type="text" class="form-control" ng-model="productConfig.authConfig.casRoleExtractRole" ng-disabled="!editMode" />
                    </div>
                </div>
                <div class="list-group-item clearfix">
                    <div class="col-xs-5 col-md-3">cas.erpid.xpath: </div>
                    <div class="col-xs-7 col-md-9">
                      <input type="text" class="form-control" ng-model="productConfig.authConfig.casErpidXpath" ng-disabled="!editMode" />
                    </div>
                </div>
                <div class="list-group-item clearfix">
                    <div class="col-xs-5 col-md-3">ErpId Extract Group: </div>
                    <div class="col-xs-7 col-md-9">
                      <input type="text" class="form-control" ng-model="productConfig.authConfig.casErpidExtractGroup" ng-disabled="!editMode" />
                    </div>
                </div>
                <div class="list-group-item clearfix">
                    <div class="col-xs-5 col-md-3">ErpId Extract String: </div>
                    <div class="col-xs-7 col-md-9">
                      <input type="text" class="form-control" ng-model="productConfig.authConfig.casErpidExtract" ng-disabled="!editMode" />
                    </div>
                </div>
              </div>
              <div id="ldapSection" ng-show="productConfig.authType == 'LDAP'">
                <div class="list-group-item clearfix">
                    <div class="col-xs-5 col-md-3">ldap.url: </div>
                    <div class="col-xs-7 col-md-9">
                      <input type="text" class="form-control" ng-model="productConfig.authConfig.ldapUrl" ng-disabled="!editMode" />
                    </div>
                </div>
                <div class="list-group-item clearfix">
                    <div class="col-xs-5 col-md-3">ldap.rootBase: </div>
                    <div class="col-xs-7 col-md-9">
                      <input type="text" class="form-control" ng-model="productConfig.authConfig.ldapRootBase" ng-disabled="!editMode" />
                    </div>
                </div>
                <div class="list-group-item clearfix">
                    <div class="col-xs-5 col-md-3">ldap.adminuser.dn: </div>
                    <div class="col-xs-7 col-md-9">
                      <input type="text" class="form-control" ng-model="productConfig.authConfig.ldapAdminUserDN" ng-disabled="!editMode" />
                    </div>
                </div>
                <div class="list-group-item clearfix">
                    <div class="col-xs-5 col-md-3">ldap.adminuser.pwd: </div>
                    <div class="col-xs-7 col-md-9">
                      <input type="password" class="form-control" ng-model="productConfig.authConfig.ldapAdminUserPassword" ng-disabled="!editMode" />
                    </div>
                </div>
                <div class="list-group-item clearfix">
                    <div class="col-xs-5 col-md-3">ldap.adminuser.base: </div>
                    <div class="col-xs-7 col-md-9">
                      <input type="text" class="form-control" ng-model="productConfig.authConfig.ldapAdminUserBase" ng-disabled="!editMode" />
                    </div>
                </div>
                <div class="list-group-item clearfix">
                    <div class="col-xs-5 col-md-3">ldap.user.userNameAttr: </div>
                    <div class="col-xs-7 col-md-9">
                      <input type="text" class="form-control" ng-model="productConfig.authConfig.ldapUserNameAttr" ng-disabled="!editMode" />
                    </div>
                </div>
                <div class="list-group-item clearfix">
                    <div class="col-xs-5 col-md-3">ldap.user.base: </div>
                    <div class="col-xs-7 col-md-9">
                      <input type="text" class="form-control" ng-model="productConfig.authConfig.ldapUserBase" ng-disabled="!editMode" />
                    </div>
                </div>
                <div class="list-group-item clearfix">
                    <div class="col-xs-5 col-md-3">ldap.erpIdAttr: </div>
                    <div class="col-xs-7 col-md-9">
                      <input type="text" class="form-control" ng-model="productConfig.authConfig.ldapErpidAttr" ng-disabled="!editMode" />
                    </div>
                </div>
                <div class="list-group-item clearfix">
                    <div class="col-xs-5 col-md-3">role.objectClass: </div>
                    <div class="col-xs-7 col-md-9">
                      <input type="text" class="form-control" ng-model="productConfig.authConfig.ldapRoleObjectclass" ng-disabled="!editMode" />
                    </div>
                </div>
                <div class="list-group-item clearfix">
                    <div class="col-xs-5 col-md-3">role.base: </div>
                    <div class="col-xs-7 col-md-9">
                      <input type="text" class="form-control" ng-model="productConfig.authConfig.ldapRoleBase" ng-disabled="!editMode" />
                    </div>
                </div>
                <div class="list-group-item clearfix">
                    <div class="col-xs-5 col-md-3">role.nameAttr: </div>
                    <div class="col-xs-7 col-md-9">
                      <input type="text" class="form-control" ng-model="productConfig.authConfig.ldapRoleNameAttr" ng-disabled="!editMode" />
                    </div>
                </div>
                <div class="list-group-item clearfix">
                    <div class="col-xs-5 col-md-3">role.memberAttr: </div>
                    <div class="col-xs-7 col-md-9">
                      <input type="text" class="form-control" ng-model="productConfig.authConfig.ldapMemberAttr" ng-disabled="!editMode" />
                    </div>
                </div>
              </div>
              <div id="casSection" ng-show="productConfig.authType == 'SSB'">

              </div
            </div>
          </div>
          <div class="list-group-item" style="border:none;text-align:center;" ng-show="editMode">
             <a href="" ng-click="saveAuth()" class="btn btn-primary">
               <span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;Save
             </a>
             &nbsp;&nbsp;&nbsp;&nbsp;
             <a href="" ng-click="cancelAuth()" class="btn btn-danger">
               <span class="glyphicon glyphicon-remove"></span>&nbsp;Cancel
             </a>
          </div>
  			</div>
</div>
