<div clsas="container">
  <h2>Show Tenant</h2>
  <div class="row">
    <div class="col-xs-12 col-md-12 form-horizontal ng-pristine ng-valid">
      <fieldset>
        <div class="form-group">
          <label for="name" class="col-xs-4 col-md-4 control-label">Name</label>
          <div class="col-xs-8 col-md-8">
            <span>{{newTenant.name}}</span>
          </div>
        </div>
        <div class="form-group">
          <label for="longname" class="col-xs-4 col-md-4 control-label">Long Name</label>
          <div class="col-xs-8 col-md-8">
            <span>{{newTenant.longName}}</span>
          </div>
        </div>
        <div class="form-group">
          <label for="email" class="col-xs-4 col-md-4 control-label">Email</label>
          <div class="col-xs-8 col-md-8">
            <span>{{newTenant.email}}</span>
          </div>
        </div>

      </fieldset>
    </div>
  </div>
</div>
