<div class="container">
  <h2>Create new Tenant</h2>
  <div class="alert alert-danger" ng-show="errorMessage">{{errorMessage}}</div>
  <div class="row">
    <div class="col-xs-12 col-md-12 form-horizontal ng-pristine ng-valid">
      <fieldset>
        <div class="form-group">
          <label for="name" class="col-xs-4 col-md-4 control-label">Name</label>
          <div class="col-xs-8 col-md-8">
            <input type="text" class="form-control" name="name" ng-model="newTenant.name">
          </div>
        </div>
        <div class="form-group">
          <label for="longname" class="col-xs-4 col-md-4 control-label">Long Name</label>
          <div class="col-xs-8 col-md-8">
            <input type="text" class="form-control" name="longName" ng-model="newTenant.longName">
          </div>
        </div>
        <div class="form-group">
          <label for="email" class="col-xs-4 col-md-4 control-label">Email</label>
          <div class="col-xs-8 col-md-8">
            <input type="text" class="form-control" name="email" ng-model="newTenant.email">
          </div>
        </div>
        <div class="form-group">
          <div class="list-group-item" style="background:transparent; text-align:center;">
            <div class="btn btn-primary" ng-click="createTenant()">Save</div>
            <div class="btn btn-danger" ng-click="cancelAction()">Cancel</div>
          </div>
        </div>
      </fieldset>
    </div>
  </div>

</div>
